@import '../../styles/styles.scss';


h1 {
  font-family: 'montese', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 3px;
  color: black;
}

.container {
    justify-content: center;
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 450px 400px 500px 500px;
    width: 80%;
    margin: 0 auto;
    margin-top: 2vh;
  }

  .info-divider {
    width: 80%;
  }

  .profile-img-container{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-img {
    width: auto;
    height: 100%;
    border-radius: 20px;
    border: solid 3px #fff;
    box-shadow: 0 0 3px 2px #ccc;
  }

  .data {
    border-radius: 20px;
    border: solid 3px #fff;
    box-shadow: 0 0 3px 2px #ccc;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
    text-align: center;
  }

  .ranch   {
    border-radius: 20px;
    border: solid 3px #fff;
    box-shadow: 0 0 3px 2px #ccc;    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }

  .video-container {  
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .video {
    width: 700px;
    height: 100%;
  }

  .pedigree-container {
    border: 1px solid red;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3 / 3;
  }