<app-deer-request
    [registrationForm]="registrationForm"
    [pedigreeForm]="pedigreeForm"
    [confirmForm]="confirmForm"
    [adminAddRanchId]="adminAddRanchId"
    [loading]="loading"
    [currentDeerProfileImage]="currentDeerProfileImage"
    [currentDeerExtraImages]="currentDeerExtraImages"
    (submitDeerEvent)="submitAddDeer()"
    (addProfileImageEvent)="addProfileImage($event)"
    (addExtraImageEvent)="addExtraImage($event)"
    (addDeerToQueueEvent)="addDeerToQueue()"
>
</app-deer-request>
