<span class="{{ activeTheme }}">
    <mat-toolbar color="primary" class="navbar">
        <div class="logo example-spacer flex-row">
            <button
                mat-icon-button
                class="menu-button"
                (click)="toggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
            <a style="margin: 0 auto; margin-left: 30px;" *ngIf="!isAdmin" routerLink="/home">
                <img src="../../../assets/image/CWDbreeding-Logo-Orange.png" class="logo" />
            </a>
            <a style="margin: 0 auto; margin-left: 30px;" *ngIf="isAdmin" routerLink="/admin-home">
                <img src="../../../assets/image/CWDbreeding-Logo-Orange.png" class="logo" />
            </a>

            <a style="float: right; margin-top: 40px;">
                <button (click)="goToEducationPage()" mat-raised-button color="accent">Education Page</button>
            </a>

        </div>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav mode="over" [opened]="showSidenav">
            <mat-nav-list>
                <a *ngIf="!isAdmin" (click)="sidenav.close()" mat-list-item routerLink="/home">Home</a>
                <a *ngIf="isAdmin" (click)="sidenav.close()" mat-list-item routerLink="/admin-home">Home</a>
                <a (click)="goToEducationPage()" mat-list-item>Education Page</a>


                <a *ngIf="isLoggedIn" (click)="logout()" mat-list-item>Logout</a>
                <a *ngIf="!isLoggedIn" (click)="sidenav.close()" mat-list-item routerLink="/login">Login</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet (activate)="onActivate($event)"></router-outlet>
            <app-footer></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</span>
