<form [formGroup]="registrationForm" class="flex-column">
  <mat-form-field class="form-field flex-1" appearance="outline">
      <mat-label>Deer Name</mat-label>
      <input type="text" matInput formControlName="name" required >
      <mat-error *ngIf="registrationForm.controls['name'].hasError('required')">Deer name is required.</mat-error>
  </mat-form-field>

  <mat-radio-group style="margin-bottom: 20px;"  formControlName="gender" class="form-field flex-1" (change)="onGenderChange()">
    <mat-radio-button value="Buck">Buck</mat-radio-button>
    <mat-radio-button style="margin-left: 10px;" value="Doe">Doe</mat-radio-button>
  </mat-radio-group>
  <mat-error class="form-field flex-1" *ngIf="registrationForm.controls['gender'].hasError('required')">Gender is required.</mat-error>

  <mat-form-field class="form-field flex-1" appearance="outline">
      <mat-label>NADR</mat-label>
      <input type="text" matInput formControlName="nadr" required >
      <mat-error *ngIf="registrationForm.controls['nadr'].hasError('required')">NADR is required.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field flex-1">
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dob" required>
      <mat-error *ngIf="registrationForm.controls['dob'].hasError('required')">DOB is required.</mat-error>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  <mat-form-field class="flex-1 form-field" appearance="outline">
      <mat-label>Codon</mat-label>
      <input type="text" matInput formControlName="codon" required>
      <mat-error *ngIf="registrationForm.controls['codon'].hasError('required')">Codon is required.</mat-error>
  </mat-form-field>

  <mat-form-field class="flex-1 form-field" appearance="outline">
      <mat-label>gebv</mat-label>
      <input type="text" matInput formControlName="gebv" required>
      <mat-error *ngIf="registrationForm.controls['gebv'].hasError('required')">gebv is required.</mat-error>
  </mat-form-field>

  <mat-form-field class="flex-1 form-field" appearance="outline">
    <mat-label>Video Link</mat-label>
    <input type="text" matInput formControlName="videoLink" required>
</mat-form-field>

  <mat-form-field *ngIf="registrationForm.controls['gender'].value === 'Buck'" class="form-field flex-1" appearance="outline">
      <mat-label>SCI Score</mat-label>
      <input matInput formControlName="sciScore" required type="number" [roundingValue]="3" appDecimalPlaces>
      <mat-error *ngIf="registrationForm.controls['sciScore'].hasError('required')">SCI Score is required.</mat-error>
  </mat-form-field>

  <mat-checkbox style="margin-bottom: 10px;" *ngIf="registrationForm.controls['gender'].value === 'Buck'" class="form-field" formControlName="semenAvailable">Semen Available?</mat-checkbox>
  <mat-form-field *ngIf="registrationForm.controls['gender'].value === 'Buck' && registrationForm.controls['semenAvailable'].value" class="flex-1 form-field" appearance="outline">
    <mat-label>Semen Cost</mat-label>
    <input matInput formControlName="semenCost" required type="number" [roundingValue]="2" appDecimalPlaces>
    <mat-error *ngIf="registrationForm.controls['semenCost'].hasError('required')">Semen cost is required.</mat-error>
  </mat-form-field>

  <mat-checkbox style="margin-bottom: 10px;" *ngIf="registrationForm.controls['gender'].value === 'Doe'" class="form-field" formControlName="embryosAvailable">Embryos Available?</mat-checkbox>
  <mat-form-field *ngIf="registrationForm.controls['gender'].value === 'Doe' && registrationForm.controls['embryosAvailable'].value" class="flex-1 form-field" appearance="outline">
    <mat-label>Embryos Cost</mat-label>
    <input matInput formControlName="embryosCost" required type="number" [roundingValue]="2" appDecimalPlaces>
    <mat-error *ngIf="registrationForm.controls['embryosCost'].hasError('required')">Embryos cost is required.</mat-error>
  </mat-form-field>

  <mat-form-field class="flex-1 form-field" appearance="outline">
    <mat-label>Description</mat-label>
    <textarea rows="8" matInput formControlName="description"></textarea>
</mat-form-field>

</form>

<div style="display: flex; justify-content:space-between">
  <button class="admin-btn" mat-raised-button color="accent" (click)="acceptChanges()" >Save Changes</button>
  <button *ngIf="deer?.status?.toLocaleLowerCase() != 'deleted'" class="admin-btn" mat-raised-button color="warn" (click)="deleteDeer()" >Delete</button>
  <button *ngIf="deer?.status?.toLocaleLowerCase() == 'deleted'" class="admin-btn" mat-raised-button color="warn" (click)="cancelDelete()" >Cancel Delete</button>
</div>

<p style="margin-top: 20px; color: red;">
  Note: Once a deer is deleted, you can still undo the deletion while you're viewing the deer profile. However, once you leave the deer profile, the deletion will be permanent, and the deer will be removed from the entire site.
</p>


<mat-progress-bar *ngIf="loading" color="accent" style="margin-top: 20px;" mode="indeterminate"></mat-progress-bar>

