<h1 class="title">Checkout Review</h1>

<mat-form-field appearance="outline">
    <mat-label>Promo Code</mat-label>
    <input matInput [formControl]="promoCodeControl" name="promoCodeControl">
    <small *ngIf="errorMessage" class="error-message">{{ errorMessage }}</small>
  </mat-form-field>
  
  <button mat-raised-button color="primary" (click)="applyPromo()">Apply Promo Code</button>
  

<!-- Item Container -->
<div class="item-container" *ngFor="let item of data.deerReceipt">
  <div class="row">
    <div class="item" class="col-6">
      <p>Deer: {{item.deerName}} -</p>
    </div>
    <div class="col-6" class="item">
      <p>${{item.cost}}</p>
    </div>
  </div>
  <mat-divider class="divider"></mat-divider>
</div>

<!-- Checkout Button and Loading Spinner -->
<div class="row">
  <button *ngIf="!loading" mat-raised-button color="accent" (click)="checkout()" class="item checkout-btn">Continue to Payment</button>
  <mat-spinner *ngIf="loading" color="accent"></mat-spinner>
</div>
