<div class="flex-row padding-top-bottom">
    <div class="flex-1"></div>

    <form [formGroup]="changePasswordForm" class="form-content border padding-20">
        <h2 class="center-text">Change Password</h2>

        <p>Password must meet the following criteria:</p>

        <ul>
            <li>Minimum eight characters</li>
            <li>At least one upper case letter</li>
            <li>At least one lower case letter</li>
            <li>At least one digit</li>
            <li>At least one of the following symbols #?!@$%^&*-</li>
        </ul>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-error *ngIf="formControls['password'].hasError('required')">Password is required.</mat-error>
            <mat-error *ngIf="formControls['password'].hasError('pattern')">Password does not meet requirements.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput formControlName="confirmPassword">
            <mat-error *ngIf="formControls['confirmPassword'].hasError('required')">Confirm Password is required.</mat-error>
            <mat-error *ngIf="formControls['confirmPassword'].hasError('notSame')">Passwords must match.</mat-error>
        </mat-form-field>

        <div *ngIf="error.length > 0" class="error-text error-padding error-width">
            {{error}}
        </div>

        <div class="flex-row">
            <mat-progress-bar *ngIf="saving" style="height: 5px; width: 100%;" mode="indeterminate"></mat-progress-bar>
        </div>

        <div class="form-group padding-top-30">
            <button mat-raised-button color="primary" *ngIf="!saving" [disabled]="loading || !changePasswordForm.valid" class="btn btn-primary span-form" (click)="onSubmit()">
                Submit
            </button>

            <div class="flex-row">
                <div class="flex-1"></div>
                <mat-spinner *ngIf="loading"></mat-spinner>
                <div class="flex-1"></div>
            </div>

            <a mat-stroked-button color="primary" routerLink="/login" routerLinkActive="forgot-password" class="span-form">
                Back to Login
            </a>
        </div>
    </form>

    <div class="flex-1"></div>
</div>
