@import '../../styles/styles.scss';

.form-field {
    width: 400px;
    margin: 0 auto;
}

.submit-button {
    margin-bottom: 20px;
    width: 200px;
    margin: 0 auto;
}

.background {
    background-color: #b9b9b9;
    margin-top: 0px !important;
  }

h1 {
    text-align: center;
}

.white {
    background-color: #fff;
}

.spacer {
    height: 20px;
}

.container {
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    margin: 0 auto;
    min-width: 325px;
}

.ml-20 {
    margin-left: 20px;
}

@media screen and (max-width: 1000px) {
    .form-field {
        width: 300px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        margin-top: 0px;
    }

}

