<div class="background">
  <div class="spacer"></div>
  <div class="flex-column margin-top-30 container form-shadow" [formGroup]="forgotPasswordForm">
    <div class="flex-1">
        <h1 class="margin-bottom-25 margin-top-10">Forgot Password?</h1>
    </div>
  
    <mat-form-field class="flex-1 form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email" required>
        <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('required')">Email is required.</mat-error>
        <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('pattern')">Invalid Email Format</mat-error>
        <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('email')">Invalid Email Format</mat-error>
    </mat-form-field>
    <button class="flex-1 submit-button" mat-raised-button color="accent" (click)="onSubmit()">Submit</button>
  </div>
  <div class="spacer"></div>
</div>
