@import '../../styles/styles.scss';

.form-field {
    width: 200px;
    margin: 0 auto;
}

.submit-button {
    margin-bottom: 20px;
    width: 200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.container {
    padding: 20px;
    border-radius: 5px;
    width: 40%;
    margin: 0 auto;
    margin-top: 100px;
}

.ml-20 {
    margin-left: 20px;
}
