

.card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.admin-panel-card {
    width: 300px;
    border-top: 2px solid orange;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



html {
    scroll-behavior: smooth;
  }

  .card-img {
    width:auto;
    height:300px;
    max-width: 390px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .card-content {
    text-align: center;
  }

  .card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header.masthead {
    position: relative;
    background: url(../../../assets/image/HeaderImage-ScoutingWhitetailDeer-2022-2880x904-2-scaled.jpg);
    background-size: cover;
    height: 250px;
    padding-top: 12rem;
    padding-bottom: 8rem;
    filter: blur(4px);
    -webkit-filter: blur(4px);

  }

  .example-card {
    max-width: 400px;
    width: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 3vh;
}












