<div class="flex-row padding-top center-text">
  <div class="flex-1"></div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-content flex-1 border padding-30">
    <h2 class="center-text">User Login</h2>

    <mat-form-field appearance="outline">
      <mat-label>Email Address</mat-label>
      <input type="text" matInput formControlName="emailAddress">
      <mat-error *ngIf="loginForm.controls['emailAddress'].hasError('required')">Email is required.</mat-error>
      <mat-error *ngIf="loginForm.controls['emailAddress'].hasError('email')">Email is invalid.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="loginForm.controls['password'].hasError('email')">Email is invalid.</mat-error>
    </mat-form-field>

      <div *ngIf="isLoginFailed" class="red-text error-padding">
          {{errorMessage}}
      </div>

      <div class="form-group" *ngIf="!loading">
          <button mat-raised-button color="accent" type="submit" class="btn btn-primary span-form" [disabled]="loading || !loginForm.valid">
              Login
          </button>

          <a mat-stroked-button color="secondary" routerLink="/forgot-password" routerLinkActive="forgot-password" class="btn btn-link span-form">Forgot Password</a>
      </div>

      <mat-spinner *ngIf="loading" mode="indeterminate" class="margin-auto"></mat-spinner>
  </form>
  <div class="flex-1"></div>
</div>
